# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
/Release/
/ff_simulator/Release/
/ff_simulator/Debug/

/ff_dallastemp_test/.cproject
/ff_dallastemp_test/.project
/ff_dallastemp_test/.settings/
/ff_dallastemp_test/Release/

.project
.pydevproject
.gitignore.swp

tools/.project

ff_local_hub/.cproject
ff_local_hub/.settings/


# Working Files
FFEVENTS.TXT


