# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclispe Project Files
#.project
#.pydevproject
#.gitignore.swp
#.cproject
#.settings

# Eclipse Build Directories

/Debug/
/Release/
/ff_simulator/Release/
/ff_simulator/Debug/
/ff_dallastemp_test/Release/

# Working Files
FFEVENTS.TXT
message.log

# python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

/sloeber.ino.cpp
